<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collpooldriver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/coll_pool_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/coll_pool_logo_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DriveInfo"></activity>
        <activity
            android:name=".OneTimePass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Preference"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpFaculty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpPro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_login"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>